#tabla{
    background-color: aqua;
    width: 100%;
}

td{
    padding: 12px 16px;
    font-size: 14px;
}

.vivo{
    background-color: #46C760;
    color: white;
}

.fallecido{
    background-color: #C74646;
    color: white;
}