#tabla{
    background-color: aqua;
    width: 100%;
}

td{
    padding: 12px 16px;
    font-size: 14px;
}

.vivo{
    background-color: #46C760;
    color: white;
}

.fallecido{
    background-color: #C74646;
    color: white;
}

#btn-detalle{
    border-radius: 8px;
    font-size: 14px;
    color: white;
    background-color: #4361EE;
    text-decoration: none;
    display: inline-block;
}

#btn-detalle:hover{
    background-color: #3046C5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    color: white;
    
}