<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{fragmento :: metadatos}"></div>
</head>

<body>
    <header>

        <div th:replace="~{fragmento :: cabecera}">

        </div>

    </header>

    <body>
        <table id="tabla">

            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Nacionalidad</td>
                <td>Biografia</td>
            </tr>

            <tr th:each="autor: ${autores}">
                <td th:text="${autor.id}"></td>
                <td th:text="${autor.nombre}"></td>
                <td th:text="${autor.nacionalidad}"></td>
                <td th:text="${autor.biografia}"></td>
                <td><button><a th:href="@{/autor/{id}(id=${autor.id})}">Detalle</a></button></td>
            </tr>

        </table>


    </body>

</html>