<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
</head>
<body>
        <table>
            <tr th:each=" autor: ${autores}">

                <td th:text="|nombre: ${autor.nombre}|"></td>
                <td th:text="${autor.nacionalidad}"></td>
                <td th:text="${autor.biografia}"></td>
                
                
                

            </tr>

        </table>
</body>
</html>