<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{fragmento :: metadatos}"></div>
</head>

<body>
    <header>

        <div th:replace="~{fragmento :: cabecera}">

        </div>

    </header>

    <body>

        <br>

        <table id="tabla">

            <tr>
                <td>ID</td>
                <td>Titulo</td>
                <td>Estilo</td>
                <td>Descripcion</td>
                <td>anio</td>
            </tr>

            <tr th:each="cuadro: ${cuadroID}">
                <td th:text="${cuadro.id}"></td>
                <td th:text="${cuadro.titulo}"></td>
                <td th:text="${cuadro.estilo}"></td>
                <td th:text="${cuadro.descripcion}"></td>
                <td th:text="${cuadro.anio}"></td>
            </tr>

        </table>


        <footer>

            <div th:replace="~{fragmento :: pie}">

            </div>

        </footer>


</body>
</html>