<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutorID</title>
</head>
<body>
    
    <!-- <ul>
        <li th:each="cuadro: ${cuadroID}" th:text="${cuadro.titulo}"></li>
        <li th:text="${cuadro.}"></li>
    </ul> -->

     <!-- <table>
        <tr th:each="cuadro: ${cuadroID}">
            <td th:text="|Nombre del cuadro: ${cuadro.titulo}|" class="espacio"></td>
            <td th:text="|Estilo: ${cuadro.estilo}|" class="espacio"></td>
            <td th:text="|Decripcion: ${cuadro.descripcion}|" class="espacio"></td>
        </tr>
    </table> -->

    <div th:each="cuadro: ${cuadroID}">
        <div th:object="${cuadro}">
            <ul>
                <li th:text="|Título: ${cuadro.titulo}|"></li><br>
                <li th:text="|Estilo: ${cuadro.estilo}|"></li><br>
                <li th:text="|Descripción: ${cuadro.descripcion}|"></li><br>
            </ul>
        </div>
     </div>


</body>
</html>