<!DOCTYPE html>
<html lang="en">
<head th:fragment="metadatos">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/raiz.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header th:fragment="cabecera">
        <h3>Lista de Autores</h3>
        <button><a th:href="@{/autor}">Autores</a></button>
        <br>
        <h3>Lista de Obras</h3>
        <button><a th:href="@{/cuadro}">Cuadros</a></button>

        <br>

        <h3>Pagina Principal</h3>
        <button><a th:href="@{/raiz}">Principal</a></button>

    </header>
    
    <footer th>

    </footer>
</body>
</html>