<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/museo/src/main/resources/static/raiz.css">
    <title>Raiz</title>
</head>
<body>

    <h2>Autores</h2>

    <ul>
        <li th:each="autor: ${autores}" th:text="${autor.nombre}"></li>
    </ul>
    
    <h2>Cuadros</h2>

    <ul>
        <li th:each="cuadro: ${cuadros}" th:text="${cuadro.titulo}"></li>
    </ul>


</body>
</html>