<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{fragmento :: metadatos}"></div>
</head>

<body>
    <header>

        <div th:replace="~{fragmento :: cabecera}">

        </div>

    </header>

    <body>



        <h2>Autores</h2>
        <table id="tabla">

            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Nacionalidad</td>
                <td>Biografia</td>
            </tr>

            <tr th:each="autor: ${autores}">
                <td th:text="${autor.id}"></td>
                <td th:text="${autor.nombre}"></td>
                <td th:text="${autor.nacionalidad}"></td>
                <td th:text="${autor.biografia}"></td>
            </tr>

        </table>

        <br>
        <br>

        <h2>Cuadros</h2>
        <table id="tabla">

            <tr>
                <td>ID</td>
                <td>Titulo</td>
                <td>Estilo</td>
                <td>Descripcion</td>
                <td>anio</td>
            </tr>

            <tr th:each="cuadro: ${cuadros}">
                <td th:text="${cuadro.id}"></td>
                <td th:text="${cuadro.titulo}"></td>
                <td th:text="${cuadro.estilo}"></td>
                <td th:text="${cuadro.descripcion}"></td>
                <td th:text="${cuadro.anio}"></td>
            </tr>

        </table>


        <footer>

            <div th:replace="~{fragmento :: pie}">

            </div>

        </footer>


    


</body>
</html>