body{
    background-color: rgb(39, 245, 228);
    font-family: "Open Sans", sans-serif;
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
}

h2{
    color: #F59127;
}

p{
    font-size: 18px;
    line-height: 1.5;
}


.autor{
    color: gray;
    font-family: italic;
}

.consejo{
    background-color: coral;
    border-radius: 50px;
    border-style: dotted;
}